/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   "The goal of a reset stylesheet is to reduce browser inconsistencies in things like default line heights,
   margins and font sizes of headings, and so on. The general reasoning behind this was discussed in a May 2007 post,
   if you're interested. Reset styles quite often appear in CSS frameworks, and the original "meyerweb reset" found its way 
   into Blueprint, among others."

   ** El código a continuación permite resetear todos los estilos y evitar que la visualización varíe de un navegador a otro **
   */
   a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

   @import url(https://fonts.googleapis.com/css?family=Oswald);

   /* html element 62.5% font-size for REM use */
   html {
   	font-size:62.5%;
   }

   body {
   	background-color: #333;
   	font-family: 'Oswald', sans-serif;
   	background-image: url(../img/background-min.jpg);
   	background-size: 50%;
   	background-repeat: repeat;
   	/* background-position: left; */
   }

   h1 {
   	color: #fff;
   	text-align: center;
   	padding: 2rem 1rem;
   	font-size: 4rem;
   	text-transform: uppercase;
   	font-weight: bold;
   }

   h3 {
   	font-size: 2rem;
   	text-align: left;
   	text-transform: uppercase;
   	font-weight: bolder;
   	margin-bottom: 1rem;
   }

   h4 {
   	font-size: 2rem;
   	text-align: left;
   	margin-top: 1rem;
   	width: 90%;
   	margin: 0 auto;
   	color: #d2f5fb;
   }

   section {
   	position: relative;
   }

   section ul {
   	font-size: 1.7rem;
   	margin: 1rem 2rem;
   }

   section ul li {
   	margin-top: 1rem;
   	margin-bottom: 1rem;
   }

   section ul li span {
   	font-size: 2.3rem;
   	margin-top: 1rem;
   	margin-bottom: 1rem;
   }

   #menu ul li {
   	width: 50%;
   	margin: 2rem auto;
   	text-align: center;
   	height: auto;
   	padding: 1rem 1rem;
   	border-radius: 6px;
   	font-size: 3rem;
   	display: block;
   	overflow: hidden;
   	/* efecto css3 sobre botón */
   	background-color: #026873;
   	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
   	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
   	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
   	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
   	background-size: 13px, 29px, 37px, 53px;
   }

   #menu ul li:hover {
   	background-color: rgb(182, 50, 50);
   	color: rgb(56, 83, 90);
   	cursor: pointer;
   	-webkit-transition: background-color, color 1.6s; /* Safari */
   	transition: background-color, color 1.6s;

   	-webkit-transition: background-color .6s; /* Safari */
   	transition: background-color .6s;
   }

   #menu ul #corregir {
      display: none;
   }

   #resultado {
   	margin: 1rem auto;
   	width: 60%;
   	font-size: 3rem;
   	color: #fff;
   }

   #tiempo {
      font-size: 3rem;
      color: yellow;
      text-align: center;
      margin: 0 auto;
   }
   
   h3,
   h4 {
   	color: #000;
   }

   .opcion label {
   	font-weight: bolder;
   }
   
   img {
   	width: 100%;
   	margin-top: 5%;
   	margin-bottom: 5%;
   	border: 1px solid #000;
   }

   footer p {
   	text-align: center;
   	font-size: 1.4rem;
   	font-weight: bolder;
   	color: rgb(153, 153, 153);
   }

   @media screen and (min-width: 400px) {
   	img {
   		width: 40%;
   		margin-left: 10%;
   	}
   }